#cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    column-gap: 15px;
    row-gap: 15px;
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background-color: #F9F9F9;
}