#page {
    padding: 0 25px 75px;
}

#imgWrap {
    position: relative;
    margin-bottom: 30px;
    width: calc(100vw - 50px);
    height: calc(100vw - 50px);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.title {
   margin-bottom: 5px; 
}

.description {
    margin-bottom: 5px;
}

.price {
    font-weight: bold;
    font-size: 17px;
    color: black;
    margin-bottom: 20px;
}

.optionWrap {
    margin-bottom: 20px;
}

#bottomMenu {
    position: fixed;
    width: 100%;
    height: 80px;
    padding: 0 25px;
    background-color: white;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottomMenu button {
    grid-area: 2/1;
}

.img{
    object-fit: cover;
}