.xl_primary {
    font-size: 28px;
    font-weight: 700;
    color: black;
}

.l_primary {
    font-size: 22px;
    font-weight: 600;
    color: black;
}

.m_primary {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}

.m_secondary {
    font-size: 16px;
    font-weight: 500;
    color: #8A8A8A;
}

.s_primary {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
}

.s_secondary {
    font-size: 14px;
    font-weight: 500;
    color: #8A8A8A;
}

.xl_card{
    font-size: 22px;
    font-weight: 700;
    color: white;
}

.m_card{
    font-size: 14px;
    font-weight: 500;
    color: rgba(255,255,255,0.75);
}

