.btn {
    border: none;
    outline: none;
    border-radius: var(--border-radius);
    padding: 10px 20px;
    background-color: var(--background-light);
}

.btn:hover {
    background-color: var(--background-light-hover);
    cursor: pointer;
}

.btn:hover p {
    color: black;
}

.btn__state_active, .btn__state_active:hover {
    background-color: black;
}

.btn__state_active p, .btn__state_active:hover p {
    color: white;
}

.btn ~ .btn {
    margin-left: 8px;
}