.btn {
    display: inline-flex;
    justify-content: center;
    width: var(--bottomMenu-height);
    height: var(--bottomMenu-height);
    border: none;
    background-color: white;
    opacity: .3;
    transition: opacity 50ms;
}

.btn:hover {
    opacity: 1;
    cursor: pointer;
}

.btn__state_active {
    opacity: 1;
}

.btn svg {
    align-self: center;
}