.buttonBackground {
    width: 3em;
    height: 3em;
    background-color: var(--background-light);
    border: none;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrow {
    fill: var(--foreground-dark);
}