#orderContainer {
    border-bottom: 2px solid var(--background-light);
    padding: 10px 0;
}

#orderCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr 35px 40px;
    grid-template-rows: auto auto;

}

#title {
    font-size: 18px;
    font-weight: 600;
}

#btn {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: var(--border-radius);
    background-color: var(--background-light);
}

#btn svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    opacity: .35;
}

#btn:hover {
    background-color: var(--background-light-hover);
    cursor: pointer;
}

#btn:hover svg {
    opacity: 1;
    cursor: pointer;
}

.orderMenu{
    position: fixed;
    left: 0;
    bottom: 0;
}

.menu {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    height: 0;
    display: flex;
    justify-content: center;
    flex-flow: column;;
}

.open_menu {
    pointer-events: all;
    visibility: visible;
    opacity: 1;
    height: auto;
}

.open_menu p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rotate_arrow {
    transform: translateX(-50%) translateY(-50%) rotate(90deg)!important;
}