.container{
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 5%;
}

.image{
    width: 5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Quick fix */
.image img {
    transform: scale(.7); 
}