#container {
    display: grid;
    grid-template-columns: 30px 1fr auto 1fr 30px;
    align-items: center;
    padding: 15px 0;
    width: 100%;
}

.menuBtnWrap {
    grid-area: 1 / 1;
}

#imgWrap {
    grid-area: 1 / 3;
    width: 60px;
    height: 60px;
}

.viewBackground {
    width: 40px;
    height: 40px;
    background-color: var(--background-light);
    border: none;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.viewHidden {
    display: none;
}

.svg {
    fill: var(--foreground-dark);
}