#card {
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
}

#cardHeader {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    align-items: center;
    height: 42px;
    padding: 0 20px;
    font-size: 14px;
    color: white;
    background-color: black;
}

#tableId {
    display: inline-block;
    font-weight: 600;
}

#timeAgo {
    margin-left: 10px;
    display: inline-block;
    font-weight: 400;
    color: rgba(255, 255, 255, .5);
}

.btn {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-area: 1 / 4;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
}

#readyBtn {
    height: 25px;
    background-color: #27F394;
}