#label {
    margin-bottom: 10px;
}

.selectorContainer {
    display: flex;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.selectorContainer::-webkit-scrollbar {
    display: none;
}