.container{
    border-bottom: 2px solid var(--background-light);
}

.orderTop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: var(--border-radius);
    align-items: center;
    grid-template-columns: 1fr 35px 40px;
    grid-template-rows: auto auto;
    background: var(--background-light);
    padding: 10px 20px;
    font-weight: 600;
}